HotelSearch_Client/HotelResponse/Service References/HotelServiceClientReference/HotelResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelResponseService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelResponseService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListofHotels" nillable="true" type="tns:ArrayOfFirstResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ArrayOfFirstResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FirstResponse" nillable="true" type="tns:FirstResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFirstResponse" nillable="true" type="tns:ArrayOfFirstResponse" />
  <xs:complexType name="FirstResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumOfRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomTypes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bestValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="minAverPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FirstResponse" nillable="true" type="tns:FirstResponse" />
</xs:schema>