HotelSearch_Client/HotelResponse/Service References/HotelServiceClientReference/HotelResponse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelResponse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54021/Service/HotelResponse.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54021/Service/HotelResponse.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54021/Service/HotelResponse.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelResponseService" />
      <xsd:import schemaLocation="http://localhost:54021/Service/HotelResponse.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HotelResponseService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelResponse_GetHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotels" />
  </wsdl:message>
  <wsdl:message name="IHotelResponse_GetHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelResponse_GetHotels2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotels2" />
  </wsdl:message>
  <wsdl:message name="IHotelResponse_GetHotels2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotels2Response" />
  </wsdl:message>
  <wsdl:portType name="IHotelResponse">
    <wsdl:operation name="GetHotels">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelResponse/GetHotels" message="tns:IHotelResponse_GetHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelResponse/GetHotelsResponse" message="tns:IHotelResponse_GetHotels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotels2">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelResponse/GetHotels2" message="tns:IHotelResponse_GetHotels2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelResponse/GetHotels2Response" message="tns:IHotelResponse_GetHotels2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelResponse" type="tns:IHotelResponse">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotels">
      <soap:operation soapAction="http://tempuri.org/IHotelResponse/GetHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotels2">
      <soap:operation soapAction="http://tempuri.org/IHotelResponse/GetHotels2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelResponse">
    <wsdl:port name="BasicHttpBinding_IHotelResponse" binding="tns:BasicHttpBinding_IHotelResponse">
      <soap:address location="http://localhost:54021/Service/HotelResponse.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>